* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6F7FF;
}

.container {
    background-color: #003366;
    height: 70px;
    width: 1000%;
    font-size: 30px;
    color: white;
}

h1 {
    color: #003366;
    font-size: 80px;
    text-align: center;
}

h2 {
    color: #003366;
    font-size: 40px;
    text-align: center;
}

.search {
    border-radius: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #007BFF
}